In [1]:
# List of high schools

high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

In [2]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [4]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [5]:
for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [8]:
for high_school in high_school_types:
    print(high_school['High School'])

Griffin
Figueroa
Wilson
Wright

In [9]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [10]:
# Add the Pandas dependency
import pandas as pd

In [12]:
# Create a Pandas Series form a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [13]:
for hs in school_series:
    print(hs)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [14]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [15]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [20]:
# Three separate lists of information on high schools
school_id = [0,1,2,3,4]
school_name = ["Huang High School","Figueroa High School","Shelton High School","Hernandez High School","Griffin High School"]

type_of_school = ["District","District","Charter","District","District"]

In [21]:
# Initialize a new DataFrame
schools_df = pd.DataFrame()

In [25]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Skills Drill add school_name and type_of_school to schools_df and print schools_df

# Add school_name as "School Name"
schools_df["School Name"] = school_name

# Add type_of_school as "Type"
schools_df["Type"] = type_of_school

# Print the DataFrame
schools_df

             School Name      Type  School ID
0      Huang High School  District          0
1   Figueroa High School  District          1
2    Shelton High School   Charter          2
3  Hernandez High School  District          3
4    Griffin High School  District          4

In [26]:
schools_df.columns

Index(['School Name', 'Type', 'School ID'], dtype='object')

In [27]:
schools_df.index

RangeIndex(start=0, stop=5, step=1)

In [28]:
schools_df.values

array([['Huang High School', 'District', 0],
       ['Figueroa High School', 'District', 1],
       ['Shelton High School', 'Charter', 2],
       ['Hernandez High School', 'District', 3],
       ['Griffin High School', 'District', 4]], dtype=object)

In [29]:
# Skills Drills create a new DataFram with new data
new_school_id = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
new_school_name = ["Huang High School","Figueroa High School","Shelton High School","Hernandez High School","Griffin High School","Wilson High School","Cabrera High School","Bailey High School","Holden High School","Pena High School","Wright High School","Rodriguez High School","Johnson High School","Ford High School","Thomas High School"]
new_school_type = ["District","District","Charter","District","Charter","Charter","Charter","District","Charter","Charter","Charter","District","District","District","Charter"]

new_schools_df = pd.DataFrame()

new_schools_df["School ID"] = new_school_id
new_schools_df["School Name"] = new_school_name
new_schools_df["Type"] = new_school_type

new_schools_df

    School ID            School Name      Type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriguez High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter